<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Stock Management System"/>
    <meta name="author" content="Yahya Haji"/>
    <title>Stock Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="https://kit.fontawesome.com/53b200ce77.js" crossorigin="anonymous"></script>
    <script src="/js/custom.js"></script>
</head>

<body>

<div th:fragment="navbar-fragment">

    <div id="mySidenav" class="sidenav">
        <div class="logo">
            <h1><i class="fas fa-align-center"></i> Logos</h1>
        </div>
        <ul>
            <li><a href="#" th:href="@{/dashboard}"><i class="fas fa-border-style"></i> Dashboard</a></li>
            <li><a href="#" th:href="@{/users}"><i class="fas fa-user-cog"></i> Users</a></li>
            <li><a href="#" th:href="@{/customer}"><i class="fas fa-female"></i> Customers</a></li>
            <li><a href="#" th:href="@{/group}"><i class="fas fa-users"></i> Groups</a></li>
            <li><a href="#" th:href="@{/brand}"><i class="fab fa-apple"></i> Brands</a></li>
            <li><a href="#" th:href="@{/category}"><i class="fas fa-layer-group"></i> Categories</a></li>
            <li><a href="#" th:href="@{/store}"><i class="fas fa-store"></i> Stores</a></li>
            <li><a href="#" th:href="@{/transaction}"><i class="fas fa-cart-plus"></i> Transaction</a></li>
            <li><a href="#" th:href="@{/items}"><i class="fab fa-product-hunt"></i> Products</a></li>
            <li><a href="#" th:href="@{/reports}"><i class="fas fa-scroll"></i> Reports</a></li>
            <li><a href="#" th:href="@{/company}"><i class="fas fa-building"></i> Company</a></li>
            <li><a href="#" th:href="@{/profile}"><i class="fas fa-user-circle"></i> Profile</a></li>
            <li><a href="#" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
</div>

<div th:fragment="body-bottom-scripts">
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!--main js-->
</div>
</body>

</html>