<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="common-header">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Stock Management System" />
    <meta name="author" content="Yahya Haji" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title.isEmpty() ? '' : title + ' | '} + 'Stock Management System'"></title>
    <script
            src="https://kit.fontawesome.com/53b200ce77.js"
            crossorigin="anonymous"
    ></script>
<!--    TODO link based on the view being loaded. -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/forms.css" />
<!--    <link rel="stylesheet" href="/css/main.css" />-->
    <script src="/js/app.js"></script>
    <script src="/js/custom.js"></script>
</head>
<body onload="documentLoaded()">
<header th:fragment="navbar-fragment">
    <div class="logo">
        <i class="fab fa-slack"></i> Helio Inventory Solution
    </div>
    <div class="pageTitle">
        <i class="fas fa-border-style"></i>
        <span th:text="${title}">Dashboard</span>
    </div>
    <div class="profile">
        <span class="name">Yahya Haji</span>
        <img
                class="profileImg"
                src="/images/placeholder/profile.jpg"
                th:src="@{/images/placeholder/profile.jpg}"
                alt="profile picture"
        />
        <ul id="profileMenu" class="profileMenu">
            <li class="item">
                <a href="#" th:href="@{/profile}">
                    <i class="fas fa-user"></i> View Profile
                </a>
            </li>
            <li class="item">
                <a href="#" th:href="@{/logout}"> <i class="fa fa-sign-out"></i> Logout </a>
            </li>
        </ul>
    </div>
</header>
<div class="body">
    <section class="sidebar" id="sidebar">
        <ul class="menu">
            <li class="item active">
                <a href="#" th:href="@{/dashboard}">
                    <i class="fas fa-border-style"></i> Dashboard
                </a>
            </li>
            <li class="item">
                <a href="#" th:href="@{/brand}"> <i class="fab fa-apple"></i> Brand </a>
            </li>
            <li class="item">
                <a href="#" th:href="@{/category}">
                    <i class="fas fa-layer-group"></i> Category
                </a>
            </li>
            <li class="item">
                <a href="#" th:href="@{/items}"> <i class="fas fa-tv"></i> Products </a>
            </li>
            <li class="item">
                <a href="#" th:href="@{/customer}"> <i class="fas fa-tv"></i> Customers </a>
            </li>
            <li class="item">
                        <span
                                class="transaction"
                                onclick="toggleClass(this)"
                                toggledElement="transactionSubMenu"
                                toggledClass="hide"
                                toggler
                        >
                            <i class="fas fa-exchange-alt"></i> Transaction
                        </span>
                <ul class="subMenu hide" id="transactionSubMenu">
                    <li class="item">
                        <a href="#" th:href="@{/transaction}">
                            <i class="fas fa-exchange-alt"></i> Detail
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" th:href="@{/transaction/purchase}">
                            <i class="fas fa-indent"></i> Purchase
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" th:href="@{/transaction/sale}">
                            <i class="fas fa-outdent"></i> Sale
                        </a>
                    </li>
                </ul>
            </li>
            <li class="item">
                        <span
                                onclick="toggleClass(this)"
                                toggledElement="creditsSubMenu"
                                toggledClass="hide"
                                toggler
                        >
                            <i class="fas fa-exchange-alt"></i> Credits
                        </span>
                <ul class="subMenu hide" id="creditsSubMenu">
                    <li class="item">
                        <a href="#" th:href="@{/credit(type='payable')}">
                            <i class="fas fa-indent"></i> Payable
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" th:href="@{/credit(type='receivable')}">
                            <i class="fas fa-outdent"></i> Receivable
                        </a>
                    </li>
                </ul>
            </li>
            <li class="item">
                        <span
                                onclick="toggleClass(this)"
                                toggledElement="reportsSubMenu"
                                toggledClass="hide"
                                toggler
                        >
                            <i class="fas fa-scroll"></i> Reports
                        </span>
                <ul class="subMenu hide" id="reportsSubMenu">
                    <li class="item">
                        <a href="#" th:href="@{/reports/transaction}">
                            <i class="fas fa-scroll"></i> Transactions
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" th:href="@{/reports/summary}">
                            <i class="fas fa-scroll"></i> Summary
                        </a>
                    </li>
                </ul>
            </li>
            <li class="item">
                        <span
                                class="adminTools"
                                onclick="toggleClass(this)"
                                toggledElement="adminToolsSubMenu"
                                toggledClass="hide"
                                toggler
                        >
                            <i class="fas fa-users-cog"></i> Admin Tools
                        </span>
                <ul class="subMenu hide" id="adminToolsSubMenu">
                    <li class="item">
                        <a href="#" th:href="@{/users}">
                            <i class="fas fa-user"></i> Users
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" th:href="@{/group}">
                            <i class="fas fa-users"></i> Groups
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" th:href="@{/company}">
                            <i class="fas fa-building"></i> Company
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section th:replace="${pageName} :: main-content" class="main-content"></section>
</div>

<footer>
    <p class="company">
        Developed By <span class="name">Company Inc. &copy;</span>
    </p>
</footer>


<div th:fragment="body-bottom-scripts">
</div>
</body>
</html>