<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header :: common-header"></head>
<body>
<div class="login">
    <div class="imgDIV">
        <img src="/images/placeholder/profile.webp" th:src="@{/images/placeholder/profile.webp}" alt="Profile" />
    </div>
    <h2 class="header">Sign in</h2>
    <form action="/login" method="post">
        <input id="username" type="text" name="username" placeholder="Username/Email" required autofocus/>
        <input id="password" type="password" name="password" placeholder="Password" required/>
        <label for="remember-me" class="remember_me">
            <p><input id="remember-me" type="checkbox" name="remember-me" /> Remember me</p>
        </label>
        <a class="forgot_password" href="#">Forgot Password</a>
        <input class="submit_btn" id="submit" type="submit" value="SIGN IN" >
    </form>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
