<!--TODO Change this page back to the classic tables page. This is to difficult to manage-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="items" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Item>"*/-->
<div th:fragment="main-content" class="main_content">
    <div class="items-grid" id="items-grid">
        <div th:each="item : ${items}" class="itemCard">
            <h4>
                <a class="link-info" th:text="${item.name}" th:href="@{/items/{id}(id=${item.id})}">Samsung Galaxy A51</a>
            </h4>
            <div th:text="${item.brand.name}" class="highlight brand">Samsung</div>
            <div th:text="${item.subcategory.name}" class="highlight category">Mobile</div>
            <div th:text="${item.category.name}" class="highlight category">Electronics</div>
            <div th:text="${item.description}" class="description">Samsung Galaxy A51 has great camera.</div>
            <div class="quantity">
                <span class="number" th:text="${item.quantity}"
                      th:styleappend="${item.quantity > item.reorderNumber ? '' : 'color:red;'}">21</span> left in stock
            </div>
        </div>
    </div>
</div>
</html>