<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="items" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Item>"*/-->
<div th:fragment="main-content" class="main-content">
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
<!--            <th>Description</th>-->
            <th>Quantity</th>
            <th>Reorder Number</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/items/new}">Add Product</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iterStat : ${items}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="link-info" th:text="${item.name}" th:href="@{/items/{id}(id=${item.id})}">Lamp</a>
            </td>
<!--            <td th:text="${item.description}">Beautiful Lamp</td>-->
            <td th:text="${item.quantity}">200</td>
            <td th:text="${item.reorderNumber}">100</td>
            <td>
                <a class="link-info" th:text="${item.brand.name}" th:href="@{/brand/{id}(id=${item.brand.id})}">LG</a>
            </td>
            <td>
                <a class="link-info" th:text="${item.subcategory.category.name}" th:href="@{/category/{id}(id=${item.subcategory.category.id})}">Electronics</a>
            </td>
            <td>
                <a class="link-info" th:text="${item.subcategory.name}" th:href="@{/subcategory/{id}(id=${item.subcategory.id})}">Mobile</a>
            </td>
            <td>
                <a class="my-btn my-btn-sm"  th:href="@{/items/edit(id=${item.id})}">Edit</a>
<!--                <a class="btn btn-sm btn-outline-danger" th:href="@{/items/delete(id=${item.id})}">Delete</a>-->
                <p class="my-btn my-btn-sm my-btn-danger"  onclick="openConfirmDialog(this)"
                   th:message="'Are you sure you want to remove [' + ${item.name} + '] product?'"
                   th:goto="@{/items/delete(id=${item.id})}">Remove Product</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>