<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="common/header :: navbar-fragment"></div>
<div class="main_content">
    <div class="items-grid" id="items-grid">
        <div th:each="item : ${items}" class="itemCard">
            <h4 th:text="${item.name}">Samsung Galaxy A51</h4>
            <div th:text="${item.brand.name}" class="highlight brand">Samsung</div>
            <div th:text="${item.subcategory.name}" class="highlight category">Mobile</div>
            <div th:text="${item.category.name}" class="highlight category">Electronics</div>
            <div th:text="${item.description}" class="description">Samsung Galaxy A51 has great camera.</div>
<!--            <div class="quantity"><span class="number" th:text="${item.quantity}">21</span> left in stock</div>-->
<!--            <div class="price">$<span th:text="${item.price}"> 3,500</span></div>-->
        </div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>