<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="item" type="com.yahya.growth.stockmanagementsystem.model.Item"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="categories" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Category>"*/-->
<!--/*@thymesVar id="subcategories" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Subcategory>"*/-->
<!--/*@thymesVar id="brands" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Brand>"*/-->
<!--/*@thymesVar id="suppliers" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Store>"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="form-div-wrapper">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder.png}" th:alt="${item.name}">
            <h1 class="h1" th:text="${item.name}">Item Name</h1>
        </div>
        <div class="form-div">
            <form class="form" action="" th:action="@{{action}(action=${action}, id = ${item.id})}" th:object="${item}" method="post">
                <div class="form-wrapper">
                    <div class="form-control-wrapper">
                        State: <input type="checkbox" th:field="*{active}">
                    </div>
                    <div class="form-control-wrapper">
                        Name: <input class="input-text" placeholder="Product" type="text" th:field="*{name}">
                    </div>
                    <div class="form-control-wrapper">
                        Description: <input class="input-text" placeholder="Description..." type="text" th:field="*{description}">
                    </div>
                    <div class="form-control-wrapper">
                        Reorder Number: <input class="input-text" placeholder="Reorder Number" type="number" th:field="*{reorderNumber}">
                    </div>
                    <div class="form-control-wrapper">
                        Subcategory:
                        <select class="form-select" th:field="*{subcategory}" >
                            <option value="-1">Select a Subcategory</option>
                            <option th:each="subcategory : ${subcategories}" th:value="${subcategory.id}" th:text="${subcategory.name}">Cell Phones & Accessories</option>
                        </select>
                    </div>
                    <div class="form-control-wrapper">
                        Brand:
                        <select class="form-select" th:field="*{brand}">
                            <option value="-1">Select a Brand</option>
                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}">Cell Phones & Accessories</option>
                        </select>
                    </div>
                </div>

                <div class="edit-btns-div">
                    <input type="submit" value="Submit" class="my-btn" />
                    <input type="reset" value="Reset" class="my-btn reset-btn"/>
                    <a th:if="${action} == 'edit'" th:href="@{delete(id = ${item.id})}" class="my-btn my-btn-danger">Delete Item</a>
                </div>

            </form>

        </div>
    </div>


</section>
</html>