<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<section th:fragment="main-content" class="main_content">
    <div class="detail">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder2.webp}" th:alt="${order.item.name}">
            <h2 th:text="${order.item.name}">Item Name</h2>
        </div>
        <div class="description-div">
            <p>Customer Info: <span class="info" th:text="${order.customer.name}"></span></p>
            <p>Item Name: <span class="info" th:text="${order.item.name}"></span></p>
            <p>Description: <span class="info" th:text="${order.item.description}"></span></p>
            <p>Last Modified Date: <span class="info" th:text="${order.lastModifiedTime}"></span></p>
            <p>Ordered Date: <span class="info" th:text="${order.orderedTime}"></span></p>

            <p>Paid:
                <span class="info" th:text="${order.paid} ? 'Paid' : 'Not Paid'">Paid</span>
                <a th:href="@{togglePay(id=${order.id})}">
                    <i th:class="${order.paid} ? 'fas fa-toggle-on' : 'fas fa-toggle-on'" th:style="${order.paid} ? 'color:green;' : 'color:gray'"></i>
                </a>
<!--                <span></span>-->
<!--                <a class="btn btn-outline-warning" th:text="'Change'">Change</a>-->
            </p>
            <div class="edit-btns-div">
                <a th:href="@{delete(id=${order.id})}" class="my-btn my-btn-danger">Remove Order</a>
            </div>
        </div>
<!--        <a th:href="@{edit(id=${order.id})}" class="btn btn-primary">Edit</a>-->
    </div>

</section>

</html>