<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="main-content" class="main-content">
    <div class="form-div-wrapper">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder2.webp}" th:alt="${'Order Thumbnail'}" alt="Category Photo" src="/images/mouse.webp">
        </div>
        <div class="form-div">
            <form class="form" action="" th:action="@{{action}(action=${action}, id=${order.id})}" th:object="${order}" method="post">
                <div class="form-wrapper">
                    <div class="form-control-wrapper">
                        Customer:
                        <select class="form-select" th:field="*{customer}" >
                            <option value="-1">Select a Customer</option>
                            <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}">Mrs. Hansen</option>
                        </select>
                    </div>
                    <div class="form-control-wrapper">
                        Item:
                        <select class="form-select" th:field="*{item.id}" >
                            <option value="-1">Select a Product</option>
                            <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.name}">Samsung Galaxy S10</option>
                        </select>
                    </div>
                    <div class="form-control-wrapper">
                        Quantity: <input placeholder="Quantity" class="input-text" type="number" th:field="*{quantity}">
                    </div>

                    <div class="form-control-wrapper">
                        Paid: <input placeholder="Quantity" type="checkbox" th:field="*{paid}">
                    </div>
                </div>

                <div class="edit-btns-div">
                    <input type="submit" value="Submit" class="my-btn" />
                    <input type="reset" value="Reset" class="my-btn reset-btn"/>
                    <!--                    <input type="submit" value="Delete" class="my-btn delete-btn"/>-->
                </div>

            </form>
        </div>
    </div>
</div>
</html>