<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="company" type="com.yahya.growth.stockmanagementsystem.model.utility.Company"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="form-div-wrapper">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder.png}" th:alt="${company.name}">
            <h1 class="h1" th:text="${company.name}">Company Name</h1>
        </div>
        <div class="form-div">
            <form class="form" action="" th:action="@{{action}(action=${action})}" th:object="${company}" method="post">
                <div class="form-wrapper">
                    <div class="form-control-wrapper">
                        Name: <input class="input-text" disabled type="text" th:field="*{name}" />
                    </div>
                    <!--       Branch Object         -->
                    <div class="form-control-wrapper">
                        Branch: <input class="input-text" type="text" th:field="*{branch.name}" />
                    </div>
                    <!--       Address Object         -->
                    <div class="form-control-wrapper">
                        Region: <input class="input-text" type="text" th:field="*{branch.address.region}" />
                    </div>
                    <div class="form-control-wrapper">
                        District: <input class="input-text" type="text" th:field="*{branch.address.district}" />
                    </div>
                    <div class="form-control-wrapper">
                        House No: <input class="input-text" type="text" th:field="*{branch.address.houseNo}" />
                    </div>
                    <div class="form-control-wrapper">
                        Street: <input class="input-text" type="text" th:field="*{branch.address.street}" />
                    </div>
                    <div class="form-control-wrapper">
                        Post Code: <input class="input-text" type="text" th:field="*{branch.address.postCode}" />
                    </div>
                    <!--      Address Object Over          -->
                    <!--      Branch Object Over          -->
                    <div class="form-control-wrapper">
                        VAT: <input class="input-text" type="text" th:field="*{vat}" />
                    </div>
                    <div class="form-control-wrapper">
                        Service Charge: <input class="input-text" type="text" th:field="*{serviceCharge}" />
                    </div>
                    <div class="form-control-wrapper">
                        Special Discount: <input class="input-text" type="text" th:field="*{specialDiscount}" />
                    </div>
                </div>
                <div class="edit-btns-div">
                    <input type="submit" value="Change" class="my-btn" />
                    <input type="reset" value="Reset Changes" class="my-btn reset-btn"/>
                </div>

            </form>
        </div>
    </div>
</section>
</html>