<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<section th:fragment="main-content" class="main-content">
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Brand</th>
            <th>Description</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/brand/new}">New Brand</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="brands" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Brand>"*/-->
        <tr th:each="brand, iterStat : ${brands}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="link-info" th:text="${brand.name}" th:href="@{/brand/{id}(id=${brand.id})}">James Doe</a>
            </td>
            <td th:text="${brand.description}">0911871115</td>
            <td>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/brand/edit(id=${brand.id})}">Edit</a>
                <a class="btn btn-sm btn-outline-danger" th:href="@{/brand/delete(id=${brand.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</html>