<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header :: common-header"></head>
<body>
<div class="main_content">
    <div th:replace="common/header :: navbar-fragment"></div>
    <table class="table table-striped table-hover table-light">
        <thead>
        <tr>
            <th>#</th>
            <th>Brand</th>
            <th>Description</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/brand/new}">New Brand</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brand, iterStat : ${brands}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="link-info" th:text="${brand.name}" th:href="@{/brand/{id}(id=${brand.id})}">James Doe</a>
            </td>
            <td th:text="${brand.description}">0911871115</td>
            <td>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/brand/edit(id=${brand.id})}">Edit</a>
                <a class="btn btn-sm btn-outline-danger" th:href="@{/brand/delete(id=${brand.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>