<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="brand" type="com.yahya.growth.stockmanagementsystem.model.Brand"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="form-div-wrapper">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder4.jpeg}" th:alt="${brand.name}" alt="Category Photo" src="/images/mouse.webp">
            <h1 class="h1" th:text="${brand.name}">Category Name</h1>
        </div>
        <div class="form-div">
            <form action="" class="form" th:action="@{{action}(action=${action}, id=${brand.id})}" th:object="${brand}" method="post">
                <div class="form-control-wrapper">
                    Name: <input class="input-text" placeholder="Brand" type="text" th:field="*{name}">
                </div>
                <div class="form-control-wrapper">
                    Description: <input class="input-text" placeholder="Description..." type="text" th:field="*{description}">
                </div>

                <div class="edit-btns-div">
                    <input type="submit" value="Submit" class="my-btn" />
                    <input type="reset" value="Reset" class="my-btn delete-btn"/>
                    <!--                    <input type="submit" value="Delete" class="my-btn delete-btn"/>-->
                </div>

            </form>

            <a th:if="${action} == 'edit'" th:href="@{/brand/delete(id=${brand.id})}" class="my-btn delete-btn">Delete Brand</a>
        </div>
    </div>
</section>
</html>