<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="group" type="com.yahya.growth.stockmanagementsystem.model.security.Role"*/-->
<!--/*@thymesVar id="permissions" type="java.util.List<java.lang.String>"*/-->
<!--/*@thymesVar id="allAuthorities" type="java.util.Map<java.lang.String, java.lang.Boolean[]>"*/-->
<!--/*@thymesVar id="reportPermissions" type="java.lang.Boolean[]"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="detail">
        <div class="description-div">
            <p>Role:
            <span class="info" th:text="${group.displayName}">Manager</span></p>
            <div class="edit-btns-div">
                <a th:href="@{edit(id=${group.id})}" class="my-btn">Edit Name</a>
                <a th:href="@{delete(id=${group.id})}" class="my-btn delete-btn">Remove Group</a>
            </div>
        </div>
        <form th:object="${permissions}" th:action="@{/group/{id}(id=${group.id})}" method="post">
            <div class="permissions">
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Permission</th>
                        <th>Read</th>
                        <th>Write</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="authority, iterStat : ${allAuthorities.keySet()}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${authority}">Category</td>
                        <td>
                            <input type="checkbox" value="" name="idPermission" th:value="${authority} + ':read'" th:checked="${allAuthorities.get(authority)[0]}"/>
                        </td>
                        <td>
                            <input type="checkbox" value="" name="idPermission" th:value="${authority} + ':write'" th:checked="${allAuthorities.get(authority)[1]}"/>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="'XX'">1</td>
                        <td th:text="'View Store Report'">User</td>
                        <td>
                            <p><input type="checkbox" name="idPermission" value="report:store" th:checked="${reportPermissions[0]}"/> Store Report</p>
                        </td>
                        <td>
                            <p><input type="checkbox" name="idPermission" value="report:all" th:checked="${reportPermissions[1]}"/> All Report</p>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <input type="submit" value="save" class="my-btn">
        </form>

    </div>

</section>
</html>