<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="users" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.User>"*/-->
<section th:fragment="main-content" class="main_content">
    <table class="table table-striped table-hover table-light">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Permission</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/users/new}">New User</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="link-info" th:text="${user.username}" th:href="@{/users/{id}(id=${user.id})}">@jameslynch</a>
            </td>
            <td th:text="${user.profile.firstName}">James</td>
            <td th:text="${user.profile.lastName}">Lynch</td>
            <td th:text="${user.profile.email}">nuriamussa@gmail.com</td>
            <td th:text="${user.profile.phone}">0911871115</td>
            <td>
                <a class="link link-info" href="#" th:href="@{/users/{id}(id=${user.id})}">Show Permissions</a>
            </td>
            <td>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/users/edit(id=${user.id})}">Edit</a>
                <a class="btn btn-sm btn-outline-danger" th:href="@{/users/delete(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>