<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="changePassword" type="com.yahya.growth.stockmanagementsystem.utilities.ChangePassword"*/-->
<!--/*@thymesVar id="error" type="java.lang.Boolean"*/-->
<section th:fragment="main-content" class="main-content passwordChange">
        <!--        <script src="/js/jquery.js"></script>-->
    <div class="changePassword">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/usericon.png}" alt="User Icon" src="">
<!--            <h1 th:text="${user.profile.fullName}">James Maddison</h1>-->
        </div>
        <div class="changePassword-div">
            <form onsubmit="return isValidPasswordForm(this)" action="#" th:action="@{''}" method="post" th:object="${changePassword}">

                <div class="password-input-wrapper">
                    <div class="password-input-toggle-div">
                        <label for="currentPassword"></label>
                        <input th:field="*{currentPassword}" required class="password-input input-text" id="currentPassword" placeholder="Current Password" type="password">
                        <span class="showPassword" >
                            <i class="fas fa-eye" onclick="showPassword(this)" passField="currentPassword"></i>
                        </span>
                    </div>
                    <span th:if="${error}" class="error-password error-password-small">
                        Wrong Password.
                    </span>
                </div>
                <div class="password-input-wrapper">
                    <div class="password-input-toggle-div">
                        <label for="newPassword"></label>
                        <input th:field="*{newPassword}" required class="password-input input-text" id="newPassword" placeholder="New Password" type="password">
                        <span class="showPassword" >
                            <i class="fas fa-eye" onclick="showPassword(this)" passField="newPassword"></i>
                        </span>
                    </div>
                    <div id="passwordStrengthError" class="hide error-password error-password-small">
                        Password does not match.
                    </div>
                </div>
                <div class="password-input-wrapper">
                    <div class="password-input-toggle-div">
                        <label for="confirmPassword"></label>
                        <input required class="password-input input-text" id="confirmPassword" placeholder="Confirm Password" type="password">
                        <span class="showPassword" >
                            <i class="fas fa-eye" onclick="showPassword(this)" passField="confirmPassword"></i>
                        </span>
                    </div>
                    <span id="passMatchingError" class="hide error-password error-password-small">
                        Password does not match.
                    </span>
                </div>
                <input id="changePasswordSubmit" type="submit" value="Change Password" class="my-btn changeButton">
            </form>

        </div>
    </div>

</section>
</html>