<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="user" type="com.yahya.growth.stockmanagementsystem.model.User"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="allRoles" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.security.Role>"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="row">
        <div class="col col-2">
            <img class="img-thumbnail" th:src="@{/images/placeholder/placeholder2.webp}" th:alt="${user.profile.fullName}" alt="User Photo" src="/images/mouse.webp">
            <h1 class="h1" th:text="${user.profile.fullName}">User Name</h1>
        </div>
        <div class="col col-8">
            <form action="" th:action="@{{action}(action=${action}, id=${user.id})}" th:object="${user}" method="post">
                <label class="d-block">
                    Username: <input type="text" th:field="*{username}">
                </label>
                <!--   TODO DO NOT PASS PASSWORDS TO HTML   -->
                <input hidden disabled type="password" th:field="*{password}">
                <label class="d-block">
                    First Name: <input th:disabled="${action == 'edit'}" type="text" th:field="*{profile.firstName}">
                </label>
                <label class="d-block">
                    Last Name: <input th:disabled="${action == 'edit'}" type="text" th:field="*{profile.lastName}">
                </label>
                <label class="d-block">
                    Email: <input th:disabled="${action == 'edit'}" type="email" th:field="*{profile.email}">
                </label>
                <label class="d-block">
                    Phone: <input th:disabled="${action == 'edit'}" type="tel" th:field="*{profile.phone}">
                </label>
                <label class="d-block">
                    Enabled: <input type="checkbox" th:field="*{enabled}">
                </label>
                <input disabled hidden type="checkbox" th:field="*{accountNonLocked}">
                <input disabled hidden type="checkbox" th:field="*{accountNonExpired}">
                <input disabled hidden type="checkbox" th:field="*{credentialsNonExpired}">

                <label class="d-block">
                    Role:
                    <select th:field="*{role}" >
                        <option th:each="curRole : ${allRoles}" th:value="${curRole.id}" th:text="${curRole.displayName}"></option>
                    </select>
                </label>
                <div>
                    <input type="submit" value="Submit" class="btn btn-success" />
                    <input type="reset" value="Reset" class="btn btn-outline-success"/>
                    <!--                    <input type="submit" value="Delete" class="btn btn-danger"/>-->
                </div>

            </form>

            <a th:if="${action} == 'edit'" th:href="@{delete(id=${user.id})}" class="btn btn-danger">Remove User</a>
        </div>
    </div>
</section>
</html>