<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="stores" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Store>"*/-->
<section th:fragment="main-content" class="main-content">
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Store</th>
            <th>Description</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/store/new}">New Store</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="store, iterStat : ${stores}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="link-info" th:text="${store.name}" th:href="@{/store/{id}(id=${store.id})}">Store 1</a>
            </td>
            <td th:text="${store.description}">0911871115</td>
            <td th:text="${store.phone}">0911871115</td>
            <td th:text="${store.email}">nuriamussa@gmail.com</td>
            <td th:text="${store.address}">Burayu, Ethiopia</td>
            <td>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/store/edit(id=${store.id})}">Edit</a>
                <a class="btn btn-sm btn-outline-danger" th:href="@{/store/delete(id=${store.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</html>