<!--TODO This page is useless currently so don't forget to do something about it later.-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<!--/*@thymesVar id="subcategories" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Subcategory>"*/-->
<section th:fragment="main-content" class="main-content">
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Subcategory</th>
            <th>Description</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/subcategory/new}">New Subcategory</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subcategory, iterStat : ${subcategories}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="link-info" th:text="${subcategory.name}" th:href="@{/subcategory/{id}(id=${subcategory.id})}">Mobile</a>
            </td>
            <td th:text="${subcategory.description}">0911871115</td>
            <td>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/subcategory/edit(id=${subcategory.id})}">Edit</a>
                <a class="btn btn-sm btn-outline-danger" th:href="@{/subcategory/delete(id=${subcategory.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>