<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header :: common-header"></head>
<body>
<div class="main_content">
    <div th:replace="common/header :: navbar-fragment"></div>
    <div class="row">
        <div class="col col-2">
            <img class="img-thumbnail" th:src="@{/images/placeholder/placeholder3.png}" th:alt="${subcategory.name}">
            <h1 class="h1" th:text="${subcategory.name}">Item Name</h1>
        </div>
        <div class="col col-8">
            <p>Name: <span th:text="${subcategory.name}"></span></p>
            <p>Description: <span th:text="${subcategory.description}"></span></p>
            <p>Category: <span th:text="${subcategory.category.name}"></span></p>
        </div>
        <a th:href="@{edit(id=${subcategory.id})}" class="btn btn-primary">Edit</a>
    </div>


</div>

<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>