<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="subcategory" type="com.yahya.growth.stockmanagementsystem.model.Subcategory"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="detail">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder3.png}" th:alt="${subcategory.name}">
            <h1 class="h1" th:text="${subcategory.name}">Item Name</h1>
        </div>
        <div class="description-div">
            <p>Name: <span class="info" th:text="${subcategory.name}"></span></p>
            <p>Description: <span class="info" th:text="${subcategory.description}"></span></p>
            <p>Category: <span class="info" th:text="${subcategory.category.name}"></span></p>
            <div class="edit-btns-div">
                <a th:href="@{edit(id=${subcategory.id})}" class="my-btn">Edit</a>
                <a th:href="@{delete(id=${subcategory.id})}" class="my-btn delete-btn">Delete</a>
            </div>
        </div>
    </div>
</section>
</html>