<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="subcategory" type="com.yahya.growth.stockmanagementsystem.model.Subcategory"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="categories" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Category>"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="form-div-wrapper">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder3.png}" th:alt="${subcategory.name}" alt="Category Photo" src="/images/mouse.webp">
            <h1 class="h1" th:text="${subcategory.name}">Category Name</h1>
        </div>
        <div class="form-div">
            <form class="form" action="" th:action="@{{action}(action=${action}, id=${subcategory.id})}" th:object="${subcategory}" method="post">
                <div class="form-wrapper">
                    <div class="form-control-wrapper">
                        Name: <input class="input-text" placeholder="Subcategory" type="text" th:field="*{name}">
                    </div>
                    <div class="form-control-wrapper">
                        Description: <input class="input-text" placeholder="Description..." type="text" th:field="*{description}">
                    </div>
                    <div class="form-control-wrapper">
                        Category:
                        <select class="form-select" th:field="*{category}" >
                            <option value="-1">Which Category does it belong to?</option>
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                </div>

                <div class="edit-btns-div">
                    <input type="submit" value="Submit" class="my-btn" />
                    <input type="reset" value="Reset" class="my-btn reset-btn"/>
                    <a th:if="${action} == 'edit'" th:href="@{delete(id = ${subcategory.id})}" class="my-btn my-btn-danger">Delete Subcategory</a>
                    <!--                    <input type="submit" value="Delete" class="my-btn delete-btn"/>-->
                </div>

            </form>

        </div>
    </div>
</section>
</html>