@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #bfcfdb;
    color: #111111;
}

.hide {
    display: none;
}
/* General CSS Specs */

header,
footer,
.body .sidebar {
    background-color: #011936;
    color: #f9dc5c;
}

header {
    display: flex;
    line-height: 50px;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    vertical-align: middle;
}

footer {
    font-size: 80%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

header .logo {
    font-size: 25px;
}

header .profile {
    text-align: right;
    width: 200px;
}

header .profile .profileImg {
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    object-fit: cover;
    vertical-align: middle;
}

header .profile .profileMenu {
    display: none;
    position: relative;
    z-index: 1;
    padding: 10px 0;
    background-color: #011936;
    color: #f9dc5c;
}

header .profile:hover .profileMenu {
    display: block;
}

header .profile .profileMenu .item {
    border: 1px ridge #eee;
    padding: 10px;
    text-align: left;
    margin: 0;
    line-height: normal;
}

header .profile .profileMenu .item:hover {
    background-color: #333;
    color: #eee;
}

header .profile .profileMenu a {
    color: #eee;
    text-decoration: none;
}

header .profile .profileMenu .item {
    /* border: 1px solid #000; */
    cursor: pointer;
    padding: 5px;
    margin: 2px;
    border: 5px none #222;
}

header .profile .name {
    line-height: 50px;
}

/* Header CSS Specs */

.body section {
    /*border: 1px solid #111;*/
}

.body {
    display: flex;
    justify-content: space-around;
}

.body .sidebar {
    flex: 1;
    min-height: 100vh;
}

.body .main-content {
    flex: 6;
}

.body .sidebar .item {
    background-color: #46536299;
    padding: 15px 0 15px 15px;
    cursor: pointer;
}

.body .sidebar .item:hover {
    padding-left: 10px;
    border-left: 5px solid #f9dc5c;
    color: #eee;
    /* margin-left: 5px; */
}

.body .sidebar .item.active {
    padding-left: 10px;
    border-left: 5px solid #17ca35;
    color: #eee;
}

.body .sidebar .item.active .wrapper {
    margin-left: 5px;
}

.body .sidebar .item a {
    color: inherit;
    text-decoration: none;
}

.body .sidebar .item.subMenu {
    list-style-type: none;
    padding-left: 20px;
    border-left: 5px solid #17ca35;
}

.body .sidebar .item.subMenu:hover {
    padding-left: 15px;
    border-left: 10px solid #17ca35;
}

/* Dashboard Items */
.body .main-content {
    padding: 10px;
}

.body .main-content .dashboard {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Montserrat", sans-serif;
}

.body .main-content .dashboard .dashboard-item {
    display: inline-flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    border: 2px solid #c7c4d8;
}

.body .main-content .dashboard .dashboard-item .dashboard-title {
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    color: white;
}

.body .main-content .dashboard .dashboard-item .dashboard-icon {
    /* border: 1px solid black; */
    font-size: 70px;
    color: #ffffff55;
}

.error-message {
    width: fit-content;
    margin: 20px;
    padding: 20px 10px 20px 10px;
    background: #c86868;
    color: #ffffff;
    border-radius: 5px;
}

.passwordChange {
    display: flex;
    width: fit-content;
    align-self: center;
    justify-content: center;
    height: 100%;
}

.password-input-wrapper {
    /*background-color: white;*/
    margin: 10px 0;
    padding: 0;
}

.password-input-toggle-div:hover {
    box-shadow: 0 10px 15px #0119368c;
    border: none !important;
}

.password-input-toggle-div {
    background-color: white;
    border-radius: 5px;
}

.password-input {
    width: 300px !important;
    margin: 1px 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.showPassword i {
    cursor: pointer;
    margin: 5px;
    width: 20px;
    padding: 0;
}

.password-input:hover, .password-input:focus {
    box-shadow: none !important;
    border: none !important;
    margin: 0;
}

.password-input:hover .password-input-wrapper {
    margin: 10px 0;
}

.changePassword {
    width: fit-content;
}

.changePassword .img-thumb-div, .changePassword-div .changeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
}

.changePassword .img-thumb-div .img-thumb {
    width: 100px;
    height: 100px;
    box-shadow: none;
}

.error-password {
    margin: 0;
    padding: 0;
    color: #ab1818;
    font-size: 12px;
}

.error-password .error-password-small {
    font-size: 10px;
}