<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="transactions" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Transaction>"*/-->
<section th:fragment="main-content" class="main-content">
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Time</th>
            <th>Reference No</th>
            <th>Type</th>
            <th>From/To</th>
            <th>Transaction Date</th>
            <th>User</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/transaction/purchase}">Add New Transaction</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction, iterStat : ${transactions}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${transaction.formattedAddedTime}">1051151316831</td>
            <td>
                <a class="btn-link" th:href="@{/transaction/{id}(id=${transaction.id})}" th:text="${transaction.refNumber}">035215</a>
            </td>
            <td th:text="${transaction.type}">Purchase</td>
            <td>
                <a class="btn-link" th:href="@{/customer/{id}(id=${transaction.customer.id})}" th:text="${transaction.customer.name}">Hello Technologies</a>
            </td>
            <td th:text="${transaction.transactionDate}">02/20/2020</td>
            <td>
<!--                TODO Uncomment this line once security config is enabled. -->
                <a class="link-info" th:text="${transaction.user.username}" th:href="@{/users/{id}(id=${transaction.user.id})}">@mrWho</a>
            </td>
            <td>
                <!--                <a class="btn btn-sm btn-outline-dark" th:href="@{{id}(id=${order.id})}">Edit</a>-->
                <a class="btn btn-sm btn-outline-danger" th:href="@{/transaction/delete(id=${transaction.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</html>