<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="transaction" type="com.yahya.growth.stockmanagementsystem.model.Transaction"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="detail">
        <div class="description-div">
            <p>Added Time:
            <span class="info" th:text="${transaction.formattedAddedTime}"></span></p>
            <p>Reference No: <span class="info" th:text="${transaction.refNumber}"></span></p>
            <p>Transaction Type: <span class="info" th:text="${transaction.type.name}"></span></p>
            <p>From/To: <span class="info" th:text="${transaction.customer.name}"></span></p>
            <p>Transaction Date: <span class="info" th:text="${transaction.transactionDate}"></span></p>
            <p>User: <span class="info" th:text="${transaction.user}"></span></p>
            <p>Total Price: <span class="info" th:text="${transaction.totalPrice}"></span></p>
            <p>Paid Price: <span class="info" th:text="${transaction.getPaidAmount()}"></span></p>
            <p>Unpaid Amount: <span class="info" th:text="${transaction.creditDifference}"></span></p>
        </div>
<!--        <a th:href="@{edit(id=${category.id})}" class="btn btn-primary">Edit</a>-->
    </div>

    <div class="row">
        <h3>Items Bought/Sold</h3>
        <table class="styled-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Unit Price</th>
                <th>Initial Quantity</th>
                <th>Remaining</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="itemTransaction, rowStat : ${transaction.itemTransactions}">
                <td th:text="${rowStat.count}">1</td>
                <td th:text="${itemTransaction.item.name}">
                    <a class="link-info" th:text="${itemTransaction.item.name}" th:href="@{/item/{id}(id=${itemTransaction.item.id})}">Samsung Galaxy A51</a>
                </td>
                <td th:text="${itemTransaction.unitPrice}">205</td>
                <td th:text="${itemTransaction.initialQuantity}">205</td>
                <td th:text="${itemTransaction.remainingQuantity}">205</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</html>