<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="allItems" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Item>"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="transaction" type="com.yahya.growth.stockmanagementsystem.model.Transaction"*/-->
<!--/*@thymesVar id="transactionTypes" type="com.yahya.growth.stockmanagementsystem.model.TransactionType[]"*/-->
<!--/*@thymesVar id="customers" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Customer>"*/-->
<!--/*@thymesVar id="credit" type="com.yahya.growth.stockmanagementsystem.model.Credit"*/-->
<!--/*@thymesVar id="paidAmount" type="java.lang.Double"*/-->

<section th:fragment="main-content" class="main-content">
    <div class=""form-div>
        <select hidden id="availableItemsElement">
            <option th:each="item : ${allItems}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>
        <form onsubmit="return transactionSubmit(this)" class="form" method="post" action="#" th:action="@{${action}}" th:object="${transaction}">
            <div class="form-wrapper">
                <input hidden type="number" th:field="*{id}">
                <div class="form-control-wrapper">
                    <select hidden class="form-select" th:field="*{type}" >
                        <option th:each="type : ${transactionTypes}" th:value="${type}" th:text="${type.getName()}">Sales</option>
                    </select>
                </div>
                <div class="form-control-wrapper">
                    From:
                    <select class="form-select" th:field="*{customer}" >
                        <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}">Electronics</option>
                    </select>
                </div>
                <div class="form-control-wrapper">
                    Reference No: <input required class="input-text" type="number" th:field="*{refNumber}">
                </div>
                <div class="form-control-wrapper">
                    Date: <input required class="input-text" type="date" th:field="*{transactionDate}">
                </div>
            </div>
            <table class="styled-table" id="itemTransaction">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>
                        <button onclick="return addTransactionRow()" type="button" class="my-btn my-btn-sm">Add Item</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="itemTransaction, iterStat : *{itemTransactions}">
                    <td>
                        <label class="d-block">
                            <select name="item">
                                <option th:selected="${item.id == itemTransaction.item.id}" th:each="item : ${allItems}" th:value="${item.id}" th:text="${item.name}">Mango</option>
                            </select>
                        </label>
                        <input hidden name="transactionID" type="number" th:value="${itemTransaction.id}">
                    </td>
                    <td>
                        <label class="d-block">
                            <input autocomplete="off" step="any" oninput="transactionTyping()" class="input-text" name="price" type="number" th:value="${itemTransaction.unitPrice}" th:text="${itemTransaction.unitPrice}">
                        </label>
                    </td>
                    <td>
                        <label class="d-block">
                            <input autocomplete="off" oninput="transactionTyping()" class="input-text" name="quantity" type="number" th:value="${itemTransaction.initialQuantity}" th:text="${itemTransaction.initialQuantity}">
                        </label>
                    </td>
                    <td>
                        <button onclick="return removeTransactionRow(this)" type="button" class="btn btn-outline-warning btn-sm">Remove Row</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="transaction-credit">
                <div class="form-control-wrapper">
                    Sum Price:
                    <input id="sumAmountField" value="0.0" autocomplete="false" disabled class="input-text"type="number" step="any">
                </div>
                <div class="form-control-wrapper">
                    VAT:
                    <input th:field="*{vat}" oninput="amountPaidChanged(this)" id="vatAmountField"
                           autocomplete="off"  class="input-text" type="number" step="any">
                </div>
                <div class="form-control-wrapper">
                    Service Charge:
                    <input th:field="*{serviceCharge}" oninput="amountPaidChanged(this)"
                           id="serviceChargeAmountField" autocomplete="off" class="input-text"
                           type="number" step="any">
                </div>
                <div class="form-control-wrapper">
                    Discount:
                    <input th:field="*{discount}" oninput="amountPaidChanged(this)"
                           id="discountAmountField" autocomplete="off" class="input-text"
                           type="number" step="any">
                </div>
                <div class="form-control-wrapper">
                    Total Price:
                    <input disabled id="overallTotalAmountField" value="0.0" autocomplete="false"
                           class="input-text"type="number" step="any">
                </div>
                <div class="form-control-wrapper">
                    Paid Amount:
                    <input id="paidAmountField" autocomplete="off" oninput="amountPaidChanged(this)"
                           class="input-text" type="number" step="any" th:name="paidAmount"
                           th:value="${paidAmount}">
                </div>
                <div class="form-control-wrapper">
                    Remaining Amount:
                    <input id="remainingAmountField" autocomplete="off"  oninput="amountPaidChanged(this)"
                           class="input-text" type="number" step="any">
                </div>
            </div>
            <div class="edit-btns-div">
                <input type="submit" value="Submit" class="my-btn" />
                <input type="reset" value="Reset" class="my-btn my-btn-danger"/>
            </div>
        </form>

    </div>
</section>
</html>