<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="allItems" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Item>"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="transaction" type="com.yahya.growth.stockmanagementsystem.model.Transaction"*/-->
<!--/*@thymesVar id="transactionTypes" type="com.yahya.growth.stockmanagementsystem.model.TransactionType[]"*/-->
<!--/*@thymesVar id="customers" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Customer>"*/-->
<section th:fragment="main-content" class="main-content">
    <div class=""form-div>
        <select hidden id="availableItemsElement">
            <option th:each="item : ${allItems}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>
        <form class="form" method="post" action="#" th:action="@{${action}(id=${transaction.id})}" th:object="${transaction}">
            <div class="form-wrapper">
                <input hidden type="number" th:field="*{id}">
                <div class="form-control-wrapper">
                    Type:
                    <select class="form-select" th:field="*{type}" >
                        <option th:each="type : ${transactionTypes}" th:value="${type}" th:text="${type.getName()}">Sales</option>
                    </select>
                </div>
                <div class="form-control-wrapper">
                    From:
                    <select class="form-select" th:field="*{fromTo}" >
                        <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}">Electronics</option>
                    </select>
                </div>
                <div class="form-control-wrapper">
                    Reference No: <input class="input-text" type="number" th:field="*{refNumber}">
                </div>
                <div class="form-control-wrapper">
                    Date: <input class="input-text" type="date" th:field="*{transactionDate}">
                </div>
            </div>
            <table class="styled-table" id="itemTransaction">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>
                        <button onclick="return addTransactionRow()" type="button" class="my-btn my-btn-sm">Add Item</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="itemTransaction, iterStat : *{itemTransactions}">
                    <td>
                        <label class="d-block">
                            <select name="item">
                                <option th:selected="${item.id == itemTransaction.item.id}" th:each="item : ${allItems}" th:value="${item.id}" th:text="${item.name}">Mango</option>
                            </select>
                        </label>
                        <input hidden name="transactionID" type="number" th:value="${itemTransaction.id}">
                    </td>
                    <td>
                        <label class="d-block">
                            <input class="input-text" name="price" type="text" th:value="${itemTransaction.unitPrice}" th:text="${itemTransaction.unitPrice}">
                        </label>
                    </td>
                    <td>
                        <label class="d-block">
                            <input class="input-text" name="quantity" type="number" th:value="${itemTransaction.initialQuantity}" th:text="${itemTransaction.initialQuantity}">
                        </label>
                    </td>
                    <td>
                        <button onclick="return removeTransactionRow(this)" type="button" class="btn btn-outline-warning btn-sm">Remove Row</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <input type="submit" value="Submit" class="my-btn" />
                <input type="reset" value="Reset" class="my-btn delete-btn"/>
            </div>
        </form>

    </div>
</section>
</html>