<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <!--/*@thymesVar id="creditsMap" type="java.util.Map<com.yahya.growth.stockmanagementsystem.model.Customer, java.lang.Double>"*/-->
    <!--/*@thymesVar id="type" type="java.lang.String"*/-->
<section th:fragment="main-content" class="main-content">
<!--    <label>-->
<!--        // TODO Make this work-->
<!--        Show Settled Credits-->
<!--        <input type="checkbox">-->
<!--    </label>-->
    <table class="styled-table">
        <caption> <span th:text="${type}"></span> Credit</caption>
        <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Unsettled Credit</th>
            <th>Settle</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance, iterStat : ${creditsMap}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="btn-link" th:href="@{/customer/{id}(id=${instance.key.id})}" th:text="${instance.key.name}">Mr. Halloween</a>
            </td>
            <td th:text="${instance.value}">1051151316831</td>
            <td>
                <a th:if="${instance.value != 0}" class="my-btn my-btn-sm my-btn-danger"  th:href="@{/credit/settle(id=${instance.key.id}, type=${type})}">Settle Credit</a>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</html>