<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="categories" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Category>"*/-->
<section th:fragment="main-content" class="main-content">
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Description</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/category/new}">New Category</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, iterStat : ${categories}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="link-info" th:text="${category.name}" th:href="@{/category/{id}(id=${category.id})}">James Doe</a>
            </td>
            <td th:text="${category.description}">0911871115</td>
            <td>
                <a class="my-btn my-btn-sm"  th:href="@{/category/edit(id=${category.id})}">Edit</a>
<!--                <a class="btn btn-sm btn-outline-danger" th:href="@{/category/delete(id=${category.id})}">Delete</a>-->
                <p class="my-btn my-btn-sm my-btn-danger"  onclick="openConfirmDialog(this)"
                   th:message="'Are you sure you want to remove [' + ${category.name} + '] category?'"
                   th:goto="@{/category/delete(id=${category.id})}">Remove</p>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</html>