<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header :: common-header"></head>
<body>
<div class="main_content">
    <div th:replace="common/header :: navbar-fragment"></div>
    <div class="row">
        <div class="col col-2">
            <img class="img-thumbnail" th:src="@{/images/placeholder/placeholder2.webp}" th:alt="${category.name}">
            <h1 class="h1" th:text="${category.name}">Item Name</h1>
        </div>
        <div class="col col-8">
            <p>Name: <span th:text="${category.name}"></span></p>
            <p>Description: <span th:text="${category.description}"></span></p>
        </div>
        <a th:href="@{edit(id=${category.id})}" class="btn btn-primary">Edit</a>
    </div>

    <div class="row">
        <h3>Subcategories</h3>
        <table class="table">
            <thead>
            <td>#</td>
            <td>Name</td>
            <td>Description</td>
            <td>
                <a class="btn btn-outline-primary" href="#" th:href="@{/subcategory/new(category=${category.id})}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </td>
            </thead>
            <tbody>
            <tr th:each="subcategory, rowStat : ${subcategories}">
                <td th:text="${rowStat.count}">1</td>
                <td th:text="${subcategory.name}">Electronics</td>
                <td th:text="${subcategory.description}">Electronics Description</td>
                <td>
                    <a class="btn btn-outline-info" href="#" th:href="@{/subcategory/edit(id=${subcategory.id}, category=${category.id})}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-outline-warning" href="#" th:href="@{removeSubcategory(subcategoryId=${subcategory.id}, categoryId=${category.id})}">
                        <i class="fas fa-minus-circle"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>