<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="category" type="com.yahya.growth.stockmanagementsystem.model.Category"*/-->
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="form-div-wrapper">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder2.webp}" th:alt="${category.name}" alt="Category Photo" src="/images/mouse.webp">
            <h1 class="h1" th:text="${category.name}">Category Name</h1>
        </div>
        <div class="form-div">
            <form action="" class="form" th:action="@{{action}(action=${action}, id=${category.id})}" th:object="${category}" method="post">
                <div class="form-control-wrapper">
                    Name: <input class="input-text" placeholder="Category" type="text" th:field="*{name}">
                </div>
                <div class="form-control-wrapper">
                    Description: <input class="input-text" placeholder="Description..." type="text" th:field="*{description}">
                </div>

                <div class="edit-btns-div">
                    <input type="submit" value="Submit" class="my-btn" />
                    <input type="reset" value="Reset" class="my-btn reset-btn"/>
                    <a th:if="${action} == 'edit'" th:href="@{delete(id=${category.id})}" class="my-btn delete-btn">Remove Category</a>
                    <!--                    <input type="submit" value="Delete" class="my-btn delete-btn"/>-->
                </div>

            </form>

        </div>
    </div>
</section>
</html>