<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="customers" type="java.util.List<com.yahya.growth.stockmanagementsystem.model.Customer>"*/-->
<section th:fragment="main-content" class="main-content">
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/customer/new}">New Customer</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, iterStat : ${customers}">
            <td th:text="${iterStat.count}">1</td>
            <td>
                <a class="link-info" th:text="${customer.name}" th:href="@{/customer/{id}(id=${customer.id})}">James Doe</a>
            </td>
            <td th:text="${customer.phone}">0911871115</td>
            <td th:text="${customer.email}">nuriamussa@gmail.com</td>
            <td th:text="${customer.address}">Burayu, Ethiopia</td>
            <td>
                <a class="btn btn-sm btn-outline-dark" th:href="@{/customer/edit(id=${customer.id})}">Edit</a>
                <a class="btn btn-sm btn-outline-danger" th:href="@{/customer/delete(id=${customer.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>