<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="customer" type="com.yahya.growth.stockmanagementsystem.model.Customer"*/-->
<section th:fragment="main-content" class="main-content">
    <div class="detail">
        <div class="img-thumb-div">
            <img class="img-thumb" th:src="@{/images/placeholder/placeholder2.webp}" th:alt="${customer.name}">
            <h1 class="h1" th:text="${customer.name}">Item Name</h1>
        </div>
        <div class="description-div">
            <p>Name: <span class="info" th:text="${customer.name}">John Doe</span></p>
            <p>Address: <span class="info" th:text="${customer.address}">Istanbul, Turkey</span></p>
            <p>Phone: <span class="info" th:text="${customer.phone}">5396667845</span></p>
            <p>Email: <span class="info" th:text="${customer.email}">him@him.her</span></p>
            <div class="edit-btns-div">
                <a th:href="@{edit(id=${customer.id})}" class="my-btn">Edit</a>
                <a th:href="@{delete(id=${customer.id})}" class="my-btn my-btn-danger">Remove Customer</a>
            </div>
        </div>
    </div>
</section>
</html>